<style>
    
    span{ 
      color:red;
      background-color: yellow;

     }

    nav ul li span {
      color:bule;

    }
    #degreeprogramsCD{
      border-top-left-radius:25px ;
      border-top-right-radius:25px;
    }

    img { 
     width: 75%; 
     height: auto;

     }

  </style>